.head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: -400px;
    font-size: 50px;
    color: #ffffffb7;
   
}
.content{
  
    color:rgba(229, 229, 16, 0.872)
}